.overview{
    text-align: center;
    color: brown;
    font-size: medium;
    margin:  10px;
    font-weight: 300;
    font-family:   Geneva;
    font-style: italic;
}
.entry-1{
    font: italic 0.7rem sans-serif;

}


