.top-left-logo {
  position: relative;
  top: 0px;
  left: 0px;
  height: 10px;
  width: 5px;
}
.background-image {
  /* position: center; */
  /* top: 5px; */
  /* align-items: center; */
  width: 100%;
  
  /* box-sizing: content-box; */
  /* height: 70px; */
}

.navbar {
  padding: 5px;
  text-align: center;
}

.navbar a {
  display: inline-block;
  padding: 5px 10px;
  /* Add padding to create space around the text */
  color: #333;
  text-decoration: none;
  background-color: #04f962;
  /* Set background color for the anchor elements */
}

.navbar a:hover {
  color: #f50626;
}



.vertical-navigation {
  float: left;
  /* Float the navigation bar to the left */
  width: 150px;
  /* Set a fixed width for the navigation bar */
  background-color: #03e128;
  padding: 10px;
}

.vertical-navigation nav a {
  display: block;
  margin-bottom: 10px;
  /* Add some spacing between links */
  color: #333;
  text-decoration: none;
}

.start-of-text {
  margin-left: 180px;
  /* Adjust margin to create space for the navigation bar */
  /* You may need to adjust this margin based on the width of your navigation bar */
}

.footer1 {
  text-align: center;
  position: relative;
  top: 10px;
  left: -25px;
  bottom: 50px;
  right: 65px;
}

.footer2 {
  text-align: center;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
}

.h1 {
  text-align: center;
  font-family: "Gill Sans MT";
}
.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* img {
  display: block;
  margin: 0 auto;
} */
